@import "./mixins.scss","base/header.scss", "base/footer.scss",
"base/main-index.scss","base/grid-areas.scss", 
"base/mediaQueries.scss", "base/main-tips.scss", 
"base/main-contacto.scss" ;


// ESTILOS GENERALES
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#grids{
    display: grid;
}


.icono{
    padding: 0px 6px;
    height: 16px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    &:hover{
        text-decoration: none;
    }
}

