@mixin hero($h-vh) {
    width: 100%;
    height: $h-vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center; }

@mixin subTitles {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

@mixin imageSize ($height, $width){ 
    height: $height; 
    width: $width;
    border-radius: 2px;
}