*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


#grids{
    min-height: 100vh;
    display: grid;
}

/* HEADER */

/* GRID AREAS */
#header__index{
    grid-area: header-index;
}

#header__destinos{
    grid-area: header-destinos;
}


#header__aventuras{
    grid-area: header-aventuras;
}


#header__contacto{
    grid-area: header-contacto;
}


#header__tips{
    grid-area: header-tips;
}

/* GRID AREAS */

#redes-top{
    height: 32px;
    width: 84px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}


.icono{
    padding: 0px 6px;
    /* width: 16px; */
    height: 16px;
}


.titulo__header{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    background-color: #A4CACF;
    text-align: center;
    padding: 20px 0px;
    
}


#nav-menu{
    background-color: #A4CACF;
    border-bottom: black dotted;
}



/* .titulo__header-index{
    font-family: 'Amatic SC', cursive;
    font-size: 1.7rem;
} */

.menu{
    padding: 0;
    height: 10px;
    width: 20px;
    display: none;
}


nav{
    margin: 20px 10px;
    text-align: center;
}


nav ul li{
    list-style: none;
    display: inline;
    font-weight: bold;
    margin: 0px 12px;
}



.link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.link:hover{
    text-decoration: none;
    
}


/* MAIN */

/* GRID AREAS */

#main__index{
    grid-area: main-index;
}

#main__destinos{
    padding: 2.5rem 0;
    background-color: #2C2727;
    grid-area: main-destinos;
}

#main__tips{
    grid-area: main-tips;
}

#hero__tips{
    grid-area: hero;
}


#main__aventuras{
    grid-area: main-aventuras;
}


#main__contacto{
    grid-area: main-contacto;
}

/* GRID AREAS */

.conteiner__image__header{
    width: 100%;
    height: 80vh;
    background-image: url(../rutas/Images/Laguna-esmeralda.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 4vh;
}

.image-rows{
    height: 4vh;
    width: 4vh;
    border-radius: 30%;
}

.image-rows:hover{
    cursor: pointer;
}


#conteiner__image__header-height{
    height: 400px;
}


.lista-tips{
    padding-left: 80px;
    line-height: 2;
    margin-top: 20px;
}

.titulo__seccion{
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}


#titulo__seccion-tips{
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: underline;
}


/* MAIN CONTACTO */

#titulo__seccion-contacto{
    background-color: #2C2727;
    color: white;
    padding: 20px;
}

#formulario{
    background-color: #2C2727;
    width: 70%;
    margin: 45px auto;
    padding: 35px 0px;
}




#conteiner__image__mail{
    display: flex;
    justify-content: center;
    animation-name: mail-movement;
    animation-duration: 1.5s;
}


@keyframes mail-movement{
    15%{
        transform: translateY(1rem);
    }

    30%{
        transform: translateY(-1rem);
    }

    45%{
        transform: translateY(0.7rem);
    }

    60%{
        transform: translateY(-0.7rem);
    }

    75%{
        transform: translateY(0.3rem);
    }

    90%{
        transform: translateY(-0.3rem);
    }

    100%{
        transform: translateY(0.1rem);
    }
}


#conteiner__image__mail img{
    width: 100px;
    height: 70px;
}


.formulario__requisito{
    width: 80%;
    margin: auto;
    padding: 12px 0px;
    display: block;
    color: white;
}


.formulario__requisito__input{
    display: block;
    margin-top: 5px;
    padding-left: 6px;
    width: 100%;
    height: 30px;
}

#textarea{
    height: 90px;
    resize: none;
}


.btn-enviar{
    margin: 6px;
    display: flex;
    justify-content: center;
}

.input__enviar{
    background-color: #A4CACF;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    transition: all 1s ease;

}

/* MAIN DESTINOS */


#conteiner-destinos{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: flex;-----> Aca iba a usar flex pero al momento de hacer este tp no lo entendi al 100%, asi que opte por no usarlo*/
}

#conteiner-destinos article{
    background-color: antiquewhite;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 4px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}


.p__contenido__article__destinos{
    padding: 0 0.4rem;
    font-weight: bold;
    text-align: justify;
}

#conteiner-destinos__bariloche{
    grid-row: 1/5;
    /* grid-area: bariloche; */
}


#conteiner-destinos__chalten{
    grid-column: 2/3;
    grid-row: 1/5;
    /* grid-area: el-chalten; */
}


#conteiner-destinos__calafate{
    grid-column: 3/4;
    grid-row: 1/5;
    /* grid-area: el-calafate; */
}


#conteiner-destinos__ushuaia{
    grid-row: 5/9;
    /* grid-area: ushuaia; */
}


#conteiner-destinos__mendoza{
    grid-row: 5/9;
    grid-column: 2/3;
    /* grid-area: mendoza; */
}


#conteiner-destinos__salta{
    grid-row: 5/9;
    grid-column: 3/4;
    /* grid-area: salta; */
}


#conteiner-destinos article:hover{
    cursor: pointer;
    transform: scale(1.05);
}



.article__image{
    width: 300px;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.article__titulo{
    padding: 10px 5px;
    text-align: center;
}


/* MAIN AVENTURAS */

#conteiner-aventuras{
    background-color: #2C2727;
    color: white;
    margin: 30px 0px;
}


#conteiner-aventuras article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.contenido__article__aventuras{
    width: 26rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}


#conteiner-aventuras .article__titulo{
    font-size: 1.2rem;
    padding: 0;
    transition: color 1s;
}


#conteiner-aventuras .article__titulo:hover{
    color: cornflowerblue;
    cursor: pointer;
}


.p__contenido__article__aventuras{
    line-height: 1.5;
    text-align: justify;
}


.article__image__aventuras{
    width: 500px;
    height: 400px;
    border-radius: 2px;
}


/* FOOTER */

#footer__index{
    grid-area: footer-index;
}


#footer__destinos{
    grid-area: footer-destinos;
}


#footer__aventuras{
    grid-area: footer-aventuras;
}


#footer__contacto{
    grid-area: footer-contacto;
}


#footer__tips{
    grid-area: footer-tips;
}


footer{
    text-align: center;
    font-weight: bold;
    
}


.redes__footer{
    height: 20px;
    display: none;
}


.p__footer{
    display: inline;
   padding-bottom: 15px;

}

/* FOOTER */

/* MEDIAS QUERIES */

@media screen and (max-width: 780px){
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.3fr 4fr 0.5fr;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }


    #redes-top{
        display: none;
        
    }
    

    .conteiner__titulo__menu{
        background-color: #A4CACF;
        padding: 1.2rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    

    .titulo__header{
        display: inline;
        font-size: 1.8rem;
        border-style: none;
    }

    nav{
        display: none;
    }


    .grid-template-destinos{
        /* display: grid; */
        grid-template-areas: 
         " header-destinos header-destinos"
         " main-destinos main-destinos"
         " footer-destinos footer-destinos"   
        ;
        grid-template-rows: auto 4fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.2fr 0.4fr 0.4fr 0.1fr  ;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    #titulo__seccion-tips{
        margin: 0;
        text-align: center;
    }

    .lista-tips{
        width: 16rem;
        margin: 2rem auto;
        margin-bottom: 0;
        padding-left: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .lista-tips li{
        font-size:0.8rem ;
        font-weight: bold;
    }

    #conteiner-destinos{
        width: 18.7rem;
        flex-direction: column;    
    }

    
    .redes__footer{
        display: block;
        padding: 6px;
    }


    .grid-templeate-aventuras{
        grid-template-areas: 
            " header-aventuras"
            " main-aventuras"
            " footer-aventuras"
        ;
        grid-template-rows: 0.2fr 1.5fr 0.1fr;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }


    .article__image__aventuras{
        width: 18.7rem;
        height: 12.5rem;
    }


    #conteiner-aventuras article{
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
        height: 22rem;
        justify-content: space-between;
    }


    .contenido__article__aventuras{
        width: 20rem;
        height: 7rem;
        font-size: 0.8rem;
        justify-content: space-between;
    }


    #article-aventuras-feria{
        background-color: white;
        color: black;
    }

    #article-aventuras-feria p{
        font-weight: bold;
    }


    #conteiner-aventuras .article__titulo{
        font-size: 1rem;
    }


    #titulo__seccion-contacto{
        font-size: 1.1rem;
    }


    .formulario__requisito{
        font-size: 0.8rem;
    }

    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
        ;
        grid-template-rows: 0.3fr 2fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    footer{
        font-size: 10px;
        align-self: end;
    }
}


@media screen and (max-width: 1020px){ 
    /* El tamano de las letras va cambiando en todos los breakpoints pero si quito esta @media dejan de cambiar */


    nav ul li a{
        font-size: 0.7rem;
    }

    footer{
        font-size: 10px;
    }
}

@media screen and (min-width:781px) {

    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.4fr 3fr auto;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }
    
    .grid-template-destinos{
        grid-template-areas: 
            " header-destinos header-destinos"
            " main-destinos main-destinos"
            " footer-destinos footer-destinos"
        ;
        grid-template-rows: 0.7fr 3fr auto;
        grid-template-columns: 100%; 
        row-gap: 1.2rem;
    }


    #conteiner-destinos{
        max-width: 43rem;
    }

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.4fr 1fr 0.4fr 0.1fr  ;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    #titulo__seccion-tips{
        margin: 0;
        text-align: center;
    }


    .article__image__aventuras{
        width: 25rem;
        height: auto;
    }


    #conteiner-aventuras article{
        padding: 2rem 0;
        height: 20rem;
    }

    .contenido__article__aventuras{
        width: 15rem;
        height: auto;
    }

    .grid-templeate-aventuras{
        grid-template-areas: 
            " header-aventuras"
            " main-aventuras"
            " footer-aventuras"
            ;
            grid-template-rows: 0.5fr 4fr 1rem;
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }

    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
            ;
        grid-template-rows: 0.2fr 3fr 0.2fr ;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }


    #formulario{
        margin-bottom: 0;
    }


    #titulo__seccion-contacto{
        font-size: 1rem;
    }


    .formulario__requisito{
        font-size: 0.8rem;
    }
}
    
@media screen and (min-width: 1020px){
    .titulo__header{
        font-size: 2.5rem;
    }
    
    .grid-template-index{
        /* display: grid; */
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.7fr 3fr auto;
        grid-template-columns: 100%; ;
        row-gap: 1.2rem;
        }

        footer{
            align-self: center;
        }

    .grid-template-destinos{
        grid-template-areas: 
            " header-destinos header-destinos"
            " main-destinos main-destinos"
            " footer-destinos footer-destinos"
        ;
        grid-template-rows: 0.7fr 3fr auto;
        grid-template-columns: 100%; ;
        row-gap: 1.2rem;
    }


    #conteiner-destinos{
        max-width: 1000px;
        margin: 0 auto;
        /* margin-top: 3rem; */
        display: grid;
        grid-template-rows: repeat(8, 5.5rem);
        grid-template-columns: repeat(3, 18.7rem);
        column-gap: 2rem;
        row-gap: 1rem;
        /* display: grid;
        grid-template-areas: 
            " bariloche . el-calafate"
            " bariloche el-chalten el-calafate"
            " bariloche el-chalten el-calafate"
            " . el-chalten ."
            " ushuaia . salta"
            " ushuaia mendoza salta"
            " ushuaia mendoza salta"
            " . mendoza ."
        ;
        grid-template-rows: 2rem repeat(3, 7rem) 2rem repeat(3, 7rem);
        grid-template-columns: repeat(3, 18.7rem);
        */

    }

    #conteiner-destinos article{
        margin-bottom: 0;
    }

    .p__contenido__article__destinos{
        font-size: 0.9rem;
    }

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.4fr 1fr 0.4fr auto ;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    #titulo__seccion-tips{
        margin-left: 3rem;
        text-align: left;
    }


    .contenido__article__aventuras{
        width: 26rem;
        height: auto;
        justify-content: space-evenly;
    }

    #conteiner-aventuras{
        padding: 2rem 0;
    }


    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
            ;
        grid-template-rows: 0.2fr 3fr 0.2fr ;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }


    #formulario{
        height: 41rem;
        display: flex;
        flex-direction: column;
        
    }


    #titulo__seccion-contacto{
        font-size: 1.2rem;
    }


    .formulario__requisito{
        font-size: 1rem;
        width: 33rem;
    }


    .input__enviar:hover{
        background-color: cornflowerblue;
        color: #2C2727;
    }
}   


/* MEDIAS QUERIES */