#redes-top {
  height: 32px;
  width: 84px;
  margin: 0px 20px;
  display: none; }

#nav-menu {
  background-color: #A4CACF;
  border-bottom: black dotted; }
  #nav-menu .titulo__header {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px; }

nav {
  margin: 20px 10px;
  text-align: center;
  display: none; }
  nav ul {
    margin: 0; }
    nav ul li {
      list-style: none;
      display: inline;
      font-weight: bold;
      margin: 0px 12px; }

footer {
  text-align: center;
  font-weight: bold; }
  footer .redes__footer {
    height: 20px; }
    footer .redes__footer .p__footer {
      font-size: 0.5rem; }

main .conteiner__image__header {
  background-image: url(../rutas/Images/Laguna-esmeralda.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  main .conteiner__image__header .image-rows {
    height: 4vh;
    width: 4vh;
    border-radius: 30%; }
    main .conteiner__image__header .image-rows:hover {
      cursor: pointer; }

.grid-template-index #header__index {
  grid-area: header-index; }

.grid-template-index #main__index {
  grid-area: main-index; }

.grid-template-index #footer__index {
  grid-area: footer-index; }

.grid-template-destinos #header__destinos {
  grid-area: header-destinos; }

.grid-template-destinos #main__destinos {
  grid-area: main-destinos; }

.grid-template-destinos #footer__destinos {
  grid-area: footer-destinos; }

#hero__tips .conteiner__image__header-height {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../rutas/Images/Laguna-esmeralda.jpg); }

#main__tips .conteiner__tips {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #main__tips .conteiner__tips #titulo__seccion-tips {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center; }
  #main__tips .conteiner__tips .lista-tips {
    font-size: 0.8rem; }

@keyframes mail-movement {
  15% {
    transform: translateY(1rem); }
  30% {
    transform: translateY(-1rem); }
  45% {
    transform: translateY(0.7rem); }
  60% {
    transform: translateY(-0.7rem); }
  75% {
    transform: translateY(0.3rem); }
  90% {
    transform: translateY(-0.3rem); }
  100% {
    transform: translateY(0.1rem); } }

#main__contacto #titulo__seccion-contacto {
  font-size: 1.4rem;
  background-color: #2C2727;
  color: white;
  padding: 1rem 0 1rem 1rem; }

#main__contacto #formulario {
  background-color: #2C2727;
  color: white;
  width: 70%;
  margin: 45px auto;
  padding: 35px 0px; }
  #main__contacto #formulario #conteiner__image__mail {
    display: flex;
    justify-content: center;
    animation-name: mail-movement;
    animation-duration: 1.5s; }
    #main__contacto #formulario #conteiner__image__mail img {
      height: 3rem;
      width: 3rem; }

#main__contacto .formulario__requisito {
  font-size: 0.8rem;
  width: 80%;
  margin: auto;
  padding: 12px 0px;
  display: block; }
  #main__contacto .formulario__requisito .formulario__requisito__input {
    display: block;
    margin-top: 5px;
    padding-left: 6px;
    width: 100%;
    height: 30px; }
  #main__contacto .formulario__requisito #textarea {
    height: 5rem;
    resize: none; }

#main__contacto .btn-enviar {
  margin: 6px;
  display: flex;
  justify-content: center; }
  #main__contacto .btn-enviar .input__enviar {
    background-color: #A4CACF;
    color: white;
    font-weight: bold;
    padding: 6px;
    font-size: 0.8rem;
    border: none;
    transition: all 1s ease; }
    #main__contacto .btn-enviar .input__enviar:hover {
      background-color: #567174;
      color: grey; }

#main__aventuras .titulo__seccion {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center; }

#main__aventuras #conteiner-aventuras {
  background-color: #2C2727;
  color: white;
  padding: 1rem 0; }
  #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo, #main__aventuras #conteiner-aventuras #article-aventuras-feria {
    width: 300px;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .article__image__aventuras, #main__aventuras #conteiner-aventuras #article-aventuras-feria .article__image__aventuras {
      height: 12.5rem;
      width: 18.7rem;
      border-radius: 2px; }
    #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: justify; }
      #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras .article__titulo, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras .article__titulo {
        text-align: center;
        font-size: 1.4rem;
        color: #A4CACF; }
      #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras .p__contenido__article__aventuras, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras .p__contenido__article__aventuras {
        font-size: 0.8rem; }
      #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras .span__articulo, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras .span__articulo {
        width: auto;
        background-color: #A4CACF;
        padding: 0.5rem 1rem;
        transition: background-color 0.5s; }
        #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras .span__articulo a, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras .span__articulo a {
          color: darkslategray;
          font-weight: 900; }
        #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras .span__articulo:hover, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras .span__articulo:hover {
          background-color: #799397; }
  #main__aventuras #conteiner-aventuras #article-aventuras-feria {
    margin-top: 2rem;
    height: 430px; }

#header__destinos h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center; }

#main__destinos {
  padding-top: 30px;
  background-color: #2C2727; }
  #main__destinos #conteiner-destinos {
    width: 18.7rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    #main__destinos #conteiner-destinos .conteiner-destinos__articulo {
      background-color: antiquewhite;
      margin-bottom: 30px;
      border-radius: 4px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      transition: transform 1s; }
      #main__destinos #conteiner-destinos .conteiner-destinos__articulo img {
        height: 200px;
        width: 300px;
        border-radius: 2px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      #main__destinos #conteiner-destinos .conteiner-destinos__articulo .contenido__article__destinos {
        padding: 1rem 0.5rem; }
        #main__destinos #conteiner-destinos .conteiner-destinos__articulo .contenido__article__destinos h3 {
          font-weight: bold; }
        #main__destinos #conteiner-destinos .conteiner-destinos__articulo .contenido__article__destinos p {
          font-weight: bold;
          text-align: justify;
          margin-bottom: 0;
          font-size: 0.8rem; }
      #main__destinos #conteiner-destinos .conteiner-destinos__articulo:hover {
        cursor: pointer;
        transform: scale(1.05); }

/* MEDIAS QUERIES */
@media screen and (max-width: 768px) {
  .grid-template-index {
    grid-template-areas: " header-index header-index" " main-index main-index" " footer-index footer-index";
    grid-template-rows: 0.3fr 4fr 0.5fr;
    grid-template-columns: 100%;
    row-gap: 1.3rem; }
  .p__footer {
    font-size: 0.7rem; }
  .nav-link {
    font-size: 0.8rem; }
  .grid-templeate-tips {
    grid-template-areas: " header-tips" " hero" " main-tips" " footer-tips";
    grid-template-rows: 0.2fr 0.4fr 0.4fr 0.1fr;
    grid-template-columns: 100%;
    row-gap: 2rem; }
  .grid-templeate-contacto {
    grid-template-areas: " header-contacto" " main-contacto" " footer-contacto";
    grid-template-rows: 0.3fr 2fr auto;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  .grid-templeate-aventuras {
    grid-template-areas: " header-aventuras" " main-aventuras" " footer-aventuras";
    grid-template-rows: 0.2fr 1.5fr 0.1fr;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  .grid-template-destinos {
    grid-template-areas: " header-destinos header-destinos" " main-destinos main-destinos" " footer-destinos footer-destinos";
    grid-template-rows: auto 4fr auto;
    grid-template-columns: 1fr;
    row-gap: 2rem; } }

@media screen and (min-width: 768px) {
  .grid-template-index {
    grid-template-areas: " header-index header-index" " main-index main-index" " footer-index footer-index";
    grid-template-rows: 0.4fr auto 0.2fr;
    grid-template-columns: 100%;
    row-gap: 1.3rem; }
  #redes-top {
    display: flex;
    align-items: center; }
  nav {
    display: block; }
  .grid-templeate-tips {
    grid-template-areas: " header-tips" " hero" " main-tips" " footer-tips";
    grid-template-rows: 0.3fr 1fr 0.3fr 0.2fr;
    grid-template-columns: 100%;
    row-gap: 1.5rem; }
  #main__tips .conteiner__tips {
    display: block; }
    #main__tips .conteiner__tips #titulo__seccion-tips {
      text-align: start;
      margin-left: 2rem; }
    #main__tips .conteiner__tips .lista-tips {
      font-size: 1rem;
      margin-left: 3rem; }
  .grid-templeate-contacto {
    grid-template-areas: " header-contacto" " main-contacto" " footer-contacto";
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  #formulario {
    display: flex;
    flex-direction: column; }
  .grid-templeate-aventuras {
    grid-template-areas: " header-aventuras" " main-aventuras" " footer-aventuras";
    grid-template-rows: 0.5fr 4fr 1rem;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  #conteiner-aventuras article {
    width: 500px; }
  .grid-template-destinos {
    grid-template-areas: " header-destinos header-destinos" " main-destinos main-destinos" " footer-destinos footer-destinos";
    grid-template-rows: 0.7fr 3fr auto;
    grid-template-columns: 100%;
    row-gap: 1.2rem; }
  #main__destinos #conteiner-destinos {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    #main__destinos #conteiner-destinos .conteiner-destinos__articulo {
      width: 300px;
      margin-bottom: 30px;
      border-radius: 4px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      transition: transform 1s; }
  footer .redes__footer {
    display: none; } }

@media screen and (min-width: 1020px) {
  .grid-template-index {
    grid-template-areas: " header-index header-index" " main-index main-index" " footer-index footer-index";
    grid-template-rows: 0.7fr auto 0.2fr;
    grid-template-columns: 100%;
    row-gap: 1.2rem; }
  .grid-templeate-contacto {
    grid-template-areas: " header-contacto" " main-contacto" " footer-contacto";
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  #formulario {
    display: flex;
    flex-direction: column;
    height: 600px; }
  #main__aventuras #conteiner-aventuras {
    padding: 4rem 0; }
    #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo, #main__aventuras #conteiner-aventuras #article-aventuras-feria {
      height: auto;
      width: 900px;
      flex-direction: row;
      justify-content: space-between; }
      #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .article__image__aventuras, #main__aventuras #conteiner-aventuras #article-aventuras-feria .article__image__aventuras {
        height: 300px;
        width: 400px;
        border-radius: 2px; }
      #main__aventuras #conteiner-aventuras .conteiner-aventuras__articulo .contenido__article__aventuras, #main__aventuras #conteiner-aventuras #article-aventuras-feria .contenido__article__aventuras {
        height: auto;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
    #main__aventuras #conteiner-aventuras #article-aventuras-feria {
      margin-top: 2rem; }
  #main__destinos #conteiner-destinos {
    width: 1000px; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto'; }

#grids {
  display: grid; }

.icono {
  padding: 0px 6px;
  height: 16px; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black; }
  a:hover {
    text-decoration: none; }
