// INDEX
.grid-template-index{
    #header__index{
        grid-area: header-index;
    }
    #main__index{
        grid-area: main-index;
    }
    #footer__index{
        grid-area: footer-index;
    }
}

.grid-template-destinos{
    #header__destinos{
        grid-area: header-destinos;
    }
    #main__destinos{
        grid-area: main-destinos;
    }
    #footer__destinos{
        grid-area: footer-destinos;
    }
}
