// INDEX
.grid-template-index{
    #header__index{
        grid-area: header-index;
    }
    #main__index{
        grid-area: main-index;
    }
    #footer__index{
        grid-area: footer-index;
    }
}

//.grid-templeate-tips{
//     #header__tips{
//         grid-area: header-tips;
//     }
//     #hero__tips{
//         grid-area: hero-tips;
//     }
//     #main__tips{
//         grid-area: main-tips;
//     }
//     #footer__tips{
//         grid-area: footer-tips;
//     }
// }

.grid-template-destinos{
    #header__destinos{
        grid-area: header-destinos;
    }
    #main__destinos{
        grid-area: main-destinos;
    }
    #footer__destinos{
        grid-area: footer-destinos;
    }
}
