main{
    .conteiner__image__header{
        background-image: url(../rutas/Images/Laguna-esmeralda.jpg);
        @include hero(80vh);
        .image-rows{
            height: 4vh;
            width: 4vh;
            border-radius: 30%;
            &:hover{
                cursor: pointer;
            }

        }
    }
}