/* MEDIAS QUERIES */
@media screen and(max-width: 768px){
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.3fr 2fr auto;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }

    // TIPS

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.2fr 0.4fr 0.4fr auto ;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    // CONTACTO

    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
        ;
        grid-template-rows: 0.3fr 2fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }


    // AVENTURAS

    .grid-templeate-aventuras{
        grid-template-areas: 
            " header-aventuras"
            " main-aventuras"
            " footer-aventuras"
        ;
        grid-template-rows: 0.2fr 2fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }


    // DESTINOS

    .grid-template-destinos{
        grid-template-areas: 
         " header-destinos header-destinos"
         " main-destinos main-destinos"
         " footer-destinos footer-destinos"   
        ;
        grid-template-rows: auto 4fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}
    

@media screen and (min-width:768px) {
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.4fr auto 0.2fr;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }

    #redes-top{
        display: flex;
        align-items: center;}

    nav{
        display: block;
        margin-bottom: 0;
    }

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.3fr 1fr 0.3fr auto  ;
        grid-template-columns: 100%;
        row-gap: 1.5rem;
    }

    #main__tips{
        .conteiner__tips{
            display: block;
            #titulo__seccion-tips{
                text-align: start;
                margin-left: 2rem;
            }
            .lista-tips{
                font-size: 1rem;
                margin-left: 3rem;
            }
        }
    }


    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
            ;
        grid-template-rows: 0.2fr 3fr auto ;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    #formulario{
        display: flex;
        flex-direction: column;
    }

    // AVENTURAS

    .grid-templeate-aventuras{
        grid-template-areas: 
            " header-aventuras"
            " main-aventuras"
            " footer-aventuras"
            ;
            grid-template-rows: 0.5fr 4fr auto;
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }

    #conteiner-aventuras{
        article{
            width: 500px;
        }

    }

    // DESTINOS

    .grid-template-destinos{
        grid-template-areas: 
            " header-destinos header-destinos"
            " main-destinos main-destinos"
            " footer-destinos footer-destinos"
        ;
        grid-template-rows: 0.7fr auto auto;
        grid-template-columns: 100%; 
        row-gap: 1.2rem;
    }

    #main__destinos{
        #conteiner-destinos{
            width: 700px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .conteiner-destinos__articulo{
                width: 300px;
                margin-bottom: 30px;
                border-radius: 4px; 
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                transition: transform 1s;
            }
        }
    }

    footer{
        .redes__footer{
            display: none;
        }
    }
}


@media screen and (min-width:1020px) {
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.7fr auto auto;
        grid-template-columns: 100%; ;
        row-gap: 1.2rem;
        }


    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
            ;
        grid-template-rows: 0.2fr 3fr 0.2fr ;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        }

    #formulario{
        display: flex;
        flex-direction: column;
        height: 600px;
    }

    #main__aventuras{
        #conteiner-aventuras{
            padding: 4rem 0;
            .conteiner-aventuras__articulo{
                height: auto;
                width: 900px;
                flex-direction: row;
                justify-content: space-between;
                .article__image__aventuras{
                    @include imageSize(300px, 400px);
                }
                .contenido__article__aventuras{
                    height: auto;
                    width: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
            }
            #article-aventuras-feria{
                margin-top: 2rem;
            }
        }
    }

        #main__destinos{
            #conteiner-destinos{
                width: 1000px;
            }
        }       
}