/* MEDIAS QUERIES */
@media screen and(max-width: 780px){
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.3fr 4fr 0.5fr;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }

    .p__footer{
        font-size: 0.7rem;
    }

    .nav-link{
        font-size: 0.6rem;
    }

    // TIPS

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.2fr 0.4fr 0.4fr 0.1fr  ;
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    // CONTACTO

    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
        ;
        grid-template-rows: 0.3fr 2fr auto;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}
    

@media screen and (min-width:781px) {
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.4fr auto 0.2fr;
        grid-template-columns: 100%;
        row-gap: 1.3rem;
    }

    #redes-top{
        display: flex;
        align-items: center;}

    nav{display: block;}

    .grid-templeate-tips{
        grid-template-areas: 
            " header-tips"
            " hero"
            " main-tips"
            " footer-tips"
        ;
        grid-template-rows: 0.3fr 1fr 0.3fr 0.2fr  ;
        grid-template-columns: 100%;
        row-gap: 1.5rem;
    }

    .conteiner__tips{
        display: inline;
    }


    .grid-templeate-contacto{
        grid-template-areas: 
            " header-contacto"
            " main-contacto"
            " footer-contacto"
            ;
        grid-template-rows: 0.2fr 3fr 0.2fr ;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    #formulario{
        height: 55vh;
        display: flex;
        flex-direction: column;
    }

    footer{
        .redes__footer{
            display: none;
        }
    }
}


@media screen and (min-width:1020px) {
    .grid-template-index{
        grid-template-areas: 
            " header-index header-index"
            " main-index main-index"
            " footer-index footer-index"
            ;

        grid-template-rows: 0.7fr auto 0.2fr;
        grid-template-columns: 100%; ;
        row-gap: 1.2rem;
        }


        .grid-templeate-contacto{
            grid-template-areas: 
                " header-contacto"
                " main-contacto"
                " footer-contacto"
                ;
            grid-template-rows: 0.2fr 3fr 0.2fr ;
            grid-template-columns: 1fr;
            row-gap: 2rem;
        }

        #formulario{
            display: block;
            height: auto;
        }
}